body{
    background-image: url("/img/forex.png");
    background-repeat: none;
}




nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.img1 { 
    background-image: url("/img/forex.png"); 
}
.bg-image {
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }