body{
    background-image: url(../img/splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-image{
   padding: %;
}



nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.enroll{
    font-size: 31px !important;
    top: 50%;
    left: 50%;
}