/* body{
    background-image: url(../img/splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

body, html{
    height: 100%;
}





nav{
    top: -100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 999;
    position: absolute;
}








.enroll{
    position: absolute;
    top: 50%;
    transform: translate(-0%, -0%);
    text-align: center;
}
.enrollBtn{
    font-size: 31px !important;
    width: 300px;
    padding: 20px;
}
  
  .bg-image {
    /* Full height */
    height: 100%;
    background-image: url("../img/tradinggif.gif");
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }





.youtubeHead{
    display: block! important;
}
.youtube{
    height: 400px;
    width: -webkit-fill-available;
}