body{
    background-color: white;
}


.logo{
    padding-top: 30px;
}

.links{
    list-style-type: none;
}
.btn{
    width: -webkit-fill-available;
}


.fa{
    padding: 20px;
    text-decoration: none;
    font-size: 100px;
}
.socialLinks{
    font-size: 40px;
}



footer{
    bottom: 0;
}